@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h2>Email Confirmed Successfully</h2>
<p>You have successfully confirmed your email in PurchaseC. Start viewing/creating listings by clicking <a asp-page="/Computers/Index">here</a> </p>