@page
@model PurchaseC.Pages.Computers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Computer Listings</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--<form>
    <input name="image" type="file" id="fileName" accept=".jpg,.jpeg,.png" onchange="validateFileType()" />
    <script type="text/javascript">
        function validateFileType() {
            var fileName = document.getElementById("fileName").value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                //TO DO
            } else {
                alert("Only jpg/jpeg and png files are allowed!");
            }
        }
    </script>
    </form>-->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Computer.Name" class="control-label">Computer Name</label>
                <input asp-for="Computer.Name" class="form-control" />
                <span asp-validation-for="Computer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.ReleaseDate" class="control-label">Release Date</label>
                <input asp-for="Computer.ReleaseDate" class="form-control" />
                <span asp-validation-for="Computer.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Memory" class="control-label">Memory</label>
                <input asp-for="Computer.Memory" class="form-control" />
                <span asp-validation-for="Computer.Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Processor" class="control-label">Processor Type</label>
                <input asp-for="Computer.Processor" class="form-control" />
                <span asp-validation-for="Computer.Processor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.GPU" class="control-label">GPU Type</label>
                <input asp-for="Computer.GPU" class="form-control" />
                <span asp-validation-for="Computer.GPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Storage_Info" class="control-label">Storage Information</label>
                <input asp-for="Computer.Storage_Info" class="form-control" />
                <span asp-validation-for="Computer.Storage_Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.OS" class="control-label">Operating System</label>
                <input asp-for="Computer.OS" class="form-control" />
                <span asp-validation-for="Computer.OS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.PSU" class="control-label">PSU Type</label>
                <input asp-for="Computer.PSU" class="form-control" />
                <span asp-validation-for="Computer.PSU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Motherboard" class="control-label">Motherboard Type</label>
                <input asp-for="Computer.Motherboard" class="form-control" />
                <span asp-validation-for="Computer.Motherboard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Computer.Price" class="control-label">Price</label>
                <input asp-for="Computer.Price" class="form-control" />
                <span asp-validation-for="Computer.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
