@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}



<p style="font-size: 120px;color: #ff0033">Oops.</p>
<p style="font-size: 60px">
    @Model.Message <!--error message: format in ('You cant access this page because it doesnt exist/you arent authorized/etcetcec-->
</p>
<p style="font-size: 30px">
    Return to the previous page or the home page!
</p>
