@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PurchaseC!</h1>
    <p>Understanding Computer market prices efficiently and easily!</p>
</div>
