@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To PurchaseC!</h1>
        <p>Understanding Computer market prices efficiently and easily!</p>
        <h2>Our Vision</h2>
        <p>Our vision is a site where users purchase, list and sell computers securely. </p>
        <h2>Who are we?</h2>
        <p>We are a group of students from Ngee Ann Polytechnic.</p>
        <p>We consist of 4 members as follows:</p>
        <p>Chua Zhe Yu - Project Leader</p>
        <p>Sim Jie Ren - Contributer</p>
        <p>Ng Tze Keat - Contributer</p>
        <p>Tan Yuan Ming - Contributer</p>
    </div>
